.logo-nav p {
  background: cadetblue;
  color: white;
  font-size: 30px;
  width: 120px;
  height: 50px;
  border: solid 2px black;
  border-radius: 120px;
  border-color: lightpink;
  border-width: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-nav {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: 20px;
}

header {
  background: rgb(121, 175, 209);
}

.logo-nav a {
  text-decoration: none;
  font-size: 25px;
  color: black;
  padding: 10px;
}

.logo-nav a:hover {
  background-color: lightgray;
  border-radius: 10px;
}


main img {
  height: 300px;
}

